<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNZxpeEymm4a3WNU6-fmK57ETNurkH59s</string>
	<key>GCM_SENDER_ID</key>
	<string>212206116447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sahyog.remoteWorkCollaboration</string>
	<key>PROJECT_ID</key>
	<string>flutter-work-61112</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-work-61112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212206116447:ios:6534715a309da8e60945ea</string>
</dict>
</plist>